.vscode
.venv
*__pycache__
.env
JARVIS_2.0.egg-info
images
claps
noise2
Clap_Detect_Model.pth
screenshots
.planning
models
commands_list.txt
data/remembered_info.json
tests/
tools/
data/logs
data/brain_data/chroma_db/