aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
babel
beautifulsoup4
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
csvw
decorator
distro
dlinfo
dotenv
edge-tts
espeakng-loader
filelock
flatbuffers
frozenlist
fsspec
future
g4f
geocoder
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
google_search_results
googleapis-common-protos
groq
h11
httpcore
httplib2
httpx
huggingface-hub
idna
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
kokoro-onnx
language-tags
Markdown
MarkupSafe
MouseInfo
mpmath
multidict
nest-asyncio
networkx
nltk
numpy
onnxruntime-gpu
packaging
phonemizer-fork
pillow
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pycparser
pycryptodome
pydantic
pydantic_core
pygame
PyGetWindow
pyjokes
PyMsgBox
pyparsing
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
python-dotenv
pyttsx3
pytweening
pywin32
PyYAML
RapidFuzz
ratelim
rdflib
referencing
regex
requests
rfc3986
rpds-py
rsa
scikit-learn
scipy
screen_brightness_control
segments
serpapi
setuptools
six
sniffio
sounddevice
soundfile
soupsieve
SpeechRecognition
speedtest-cli
standard-aifc
standard-chunk
strip-markdown
sympy
tabulate
termcolor
textblob
threadpoolctl
torch
torchaudio
torchvision
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
wikipedia
winotify
WMI
yarl
apscheduler
num2words
pocketsphinx
winrt-windows-devices-geolocation
winrt-windows-foundation
chromadb
pypdf
gputil